---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    commit-message:
      prefix: build
    schedule:
      interval: monthly
    labels:
      - dependencies
  - package-ecosystem: npm
    directory: /console/frontend
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: build
    schedule:
      interval: monthly
    labels:
      - dependencies
      - service::console
    open-pull-requests-limit: 10
    cooldown:
      default-days: 5
      semver-major-days: 15
    groups:
      vueuse:
        patterns:
          - "@vueuse/*"
      vue:
        patterns:
          - "vue"
          - "vue-router"
          - "vue-tsc"
          - "@vue/*"
        exclude-patterns:
          - "@vue/tsconfig"
      codemirror:
        patterns:
          - "@codemirror/*"
          - "@lezer/*"
      dev-dependencies:
        patterns:
          - "@vitejs/*"
          - "@vitest/*"
          - "@volar/*"
          - "autoprefixer"
          - "oxlint*"
          - "prettier*"
          - "vite"
          - "vitest"
      tailwindcss:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
      typescript:
        patterns:
          - "@tsconfig/*"
          - "@types/*"
          - "@vue/tsconfig"
          - "typescript-language-server"
          - "typescript"
  - package-ecosystem: gomod
    directory: /
    commit-message:
      prefix: build
    schedule:
      interval: weekly
    labels:
      - dependencies
    open-pull-requests-limit: 10
    cooldown:
      default-days: 3
      semver-major-days: 7
    groups:
      franz-go:
        patterns:
          - "github.com/twmb/franz-go"
          - "github.com/twmb/franz-go/*"
      golang-org-x:
        patterns:
          - "golang.org/x/*"
