CREATE DICTIONARY protocols (
  proto UInt8 INJECTIVE,
  name String,
  description String
)
PRIMARY KEY proto
LAYOUT(HASHED())
SOURCE (HTTP(
  url '{{ .BaseURL }}/api/v0/clickhouse/protocols.csv'
  format 'CSVWithNames'
))
LIFETIME(3600)
