CREATE DICTIONARY asns (
  asn UInt32 INJECTIVE,
  name String
)
PRIMARY KEY asn
LAYOUT(HASHED())
SOURCE (HTTP(
  url '{{ .BaseURL }}/api/v0/clickhouse/asns.csv'
  format 'CSVWithNames'
))
LIFETIME(3600)
