{{ define "title" }}Documentation{{ end }}
{{ define "stylesheets" }}
<link href="{{ .RootPath }}/assets/stylesheets/docs.css" rel="stylesheet">
{{ end }}
{{ define "content" }}
<div class="container-xxl">
    <div class="row">
        <div class="mb-3 col-12 col-md-3 col-lg-2">
            <nav class="shadow-sm bg-light py-2 px-3 ak-docs-toc">
                <strong>Documentation</strong>
                <ul>
                    {{ range .TOC }}
                        <li><a href="{{ .Name }}">{{ (index .Headers 0).Title }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
        <div class="col-12 col-md-9 col-lg-8 px-1 px-md-5 ak-docs-markdown">
            {{ .Markdown }}
        </div>
        <div class="col-2 d-none d-lg-block">
            <nav class="shadow-sm bg-light py-2 px-3 ak-docs-toc">
                <strong>Table of content</strong>
                <ul>
                    {{ $root := . }}
                    {{ range .TOC }}
                        {{ if eq .Name ($root.CurrentPath | trimPrefix "/docs/") }}
                            {{ range .Headers }}
                                {{ if ge .Level 2 }}
                                    <li><a class="ms-{{ sub .Level 2 }} d-inline-block"
                                           href="#{{ .ID }}">{{ .Title }}</a></li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</div>
{{ end }}
