---
services:
  akvorado-exporter-1: &exporter
    extends:
      file: versions.yml
      service: akvorado
    restart: unless-stopped
    command: demo-exporter http://akvorado-orchestrator:8080#0
    depends_on:
      akvorado-inlet:
        condition: service_healthy
      akvorado-outlet:
        condition: service_healthy
    labels:
      - metrics.port=8080
  akvorado-exporter-2:
    <<: *exporter
    command: demo-exporter http://akvorado-orchestrator:8080#1
  akvorado-exporter-3:
    <<: *exporter
    command: demo-exporter http://akvorado-orchestrator:8080#2
  akvorado-exporter-4:
    <<: *exporter
    command: demo-exporter http://akvorado-orchestrator:8080#3
