---
version: "3"

services:
  zookeeper:
    extends:
      file: versions.yml
      service: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    extends:
      file: versions.yml
      service: kafka
    environment:
     - KAFKA_CFG_BROKER_ID=1
     - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
     - KAFKA_CFG_LISTENERS=CLIENT://:9092,EXTERNAL://:9093
     - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
     - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:9092,EXTERNAL://localhost:9092
     - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
    depends_on:
      - zookeeper
    ports:
      - 127.0.0.1:9092:9093/tcp

  redis:
    extends:
      file: versions.yml
      service: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 127.0.0.1:6379:6379/tcp

  clickhouse:
    extends:
      file: versions.yml
      service: clickhouse
    ports:
      - 127.0.0.1:8123:8123/tcp
      - 127.0.0.1:9000:9000/tcp

  srlinux:
    extends:
      file: versions.yml
      service: srlinux
    privileged: true
    user: root
    command: /opt/srlinux/bin/sr_linux
    ports:
      - 127.0.0.1:57400:57400/tcp
      - 127.0.0.1:57401:22/tcp
