---
global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    metrics_path: /prometheus/metrics
    static_configs:
      - targets:
          - 127.0.0.1:9090
  - job_name: node-exporter
    static_configs:
      - targets:
          - host.docker.internal:9100
  - job_name: grafana
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
              - com.docker.compose.service=grafana
  - job_name: clickhouse
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
    relabel_configs:
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        regex: (clickhouse|clickhouse-\\d+)
        action: keep
      - source_labels: [__meta_docker_port_private]
        regex: 8123
        action: keep
  - job_name: clickhouse-keeper
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
    relabel_configs:
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        regex: clickhouse-keeper-\\d+
        action: keep
      - source_labels: [__meta_docker_port_private]
        regex: 9100
        action: keep
  - job_name: kafka
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
              - com.docker.compose.service=kafka
    relabel_configs:
      - source_labels: [__meta_docker_port_private]
        regex: 9100
        action: keep
  - job_name: cadvisor
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
              - com.docker.compose.service=cadvisor
  - job_name: akvorado
    metrics_path: /api/v0/metrics
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
    relabel_configs:
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        regex: akvorado-(inlet|outlet|orchestrator|console)
        action: keep
      - source_labels: [__meta_docker_port_private]
        regex: 8080
        action: keep
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        target_label: service
        regex: akvorado-(.*)
        replacement: $1
  - job_name: traefik
    metrics_path: /traefik/metrics
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 30s
        filters:
          - name: label
            values:
              - com.docker.compose.project=akvorado
              - com.docker.compose.service=traefik
    relabel_configs:
      - source_labels: [__meta_docker_port_private]
        regex: 80
        action: keep
      - source_labels: [__meta_docker_network_ip, __meta_docker_port_private]
        target_label: __address__
        regex: (.*);80
        replacement: $1:8080
