---
services:
  # main services
  kafka:
    image: apache/kafka:4.1.0 # \d+\.\d+\.\d+
  redis:
    image: valkey/valkey:7.2 # \d+\.\d+
  clickhouse:
    image: clickhouse/clickhouse-server:25.8 # \d+\.[38]
  clickhouse-keeper:
    image: clickhouse/clickhouse-keeper:25.8 # \d+\.[38]
  traefik:
    image: traefik:v3.5 # v\d+\.\d+
  maxmind-geoipupdate:
    image: ghcr.io/maxmind/geoipupdate:v7
  ipinfo-geoipupdate:
    image: ghcr.io/akvorado/ipinfo-geoipupdate:latest
    build:
      context: .
      dockerfile: Dockerfile.ipinfo-geoipupdate
  akvorado:
    image: ghcr.io/akvorado/akvorado:main

  # observability
  grafana:
    image: grafana/grafana-oss:10.2.6 # \d+\.\d+\.\d+
  alloy:
    image: grafana/alloy:v1.10.2 # v\d+\.\d+\.\d+
  loki:
    image: grafana/loki:3.5.4 # \d+\.\d+\.\d+
  prometheus:
    image: prom/prometheus:v3.5.0 # v\d+\.\d+\.\d+
  node-exporter:
    image: prom/node-exporter:v1.9.1 # v\d+\.\d+\.\d+
  cadvisor:
    image: ghcr.io/google/cadvisor:v0.53.0 # v\d+\.\d+\.\d+
  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:v1.3.0 # v\d+\.\d+\.\d+
  vector:
    image: timberio/vector:0.49.0-alpine # \d+\.\d+\.\d+-alpine

  # for tests
  srlinux:
    image: ghcr.io/nokia/srlinux:23.10.6
  postgres:
    image: postgres:16 # \d+
  mysql:
    image: mariadb:11.4 # \d+\.\d+
  mock-oauth2-server:
    image: ghcr.io/navikt/mock-oauth2-server:2.1.10 # \d+\.\d+\.\d+
