<clickhouse>
 <!-- Don't keep logs forever -->
 <asynchronous_metric_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </asynchronous_metric_log>
 <metric_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </metric_log>
 <part_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </part_log>
 <text_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </text_log>
 <query_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </query_log>
 <query_thread_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </query_thread_log>
 <query_metric_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </query_metric_log>
 <query_views_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </query_views_log>
 <trace_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </trace_log>
 <error_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </error_log>
 <latency_log>
  <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
 </latency_log>
</clickhouse>
