---
name: Update Go toolchain
on:
  workflow_dispatch:
  schedule:
    - cron: "21 3 * * 1"

jobs:
  hashes:
    name: Update Go toolchain
    runs-on: ubuntu-latest
    if: github.repository_owner == 'akvorado'
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Upgrade Go toolchain
        run: go get toolchain@patch
      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          add-paths: go.mod
          branch: build/go-toolchain-update
          labels: dependencies
          commit-message: "build: update go toolchain"
          title: "build: update go toolchain"
          body: ""
